.startButton {
	-fx-text-fill: black;
	-fx-background-color: #777777;
	-fx-border-color: black;
	-fx-border-radius: 0;
	-fx-font: 20 arial;
	-fx-translate-x: 240;
	-fx-translate-y: 100;
	-fx-pref-width: 235;
	-fx-pref-height: 65;
}

.exitButton {
	-fx-text-fill: black;
	-fx-background-color: #777777;
	-fx-border-color: black;
	-fx-border-radius: 0;
	-fx-font: 20 arial;
	-fx-translate-x: 240;
	-fx-translate-y: 175;
	-fx-pref-width: 235;
	-fx-pref-height: 65;
}

.volumeSlider{
	-fx-background-color: #777777;
	-fx-border-color: none;
	-fx-border-radius: 0;
	-fx-translate-x: 240;
	-fx-translate-y: 250;
	-fx-pref-width: 235;
	-fx-pref-height: 70;
}

.volumeLabel {
	-fx-text-fill: black;
	-fx-background-color: transparent;
	-fx-font: 15 arial;
	-fx-translate-x: 330;
	-fx-translate-y: 225;
	-fx-pref-height: 70;
}
