.startButton {
	-fx-text-fill: black;
	-fx-background-color: #777777;
	-fx-border-radius: 20;
	-fx-border-color: black;
	-fx-border-radius: 0;
	-fx-font: 40 arial;
	-fx-translate-x: 1000;
	-fx-translate-y: 500;
	-fx-pref-width: 800;
	-fx-pref-height: 400;
}